@import "./abstract/variables";
@import "./base/base";
@import "./abstract/mixins";

@import "./components/navigation";
@import "./components/main";
@import "./components/landing";
@import "./components/home";
@import "./components/form";
@import "./components/day";
@import "./components/footer";

@media only screen and (max-width: 600px) {
  nav {
    padding: 0;
    background-color: black;
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

    & a,
    & a:link,
    & a:visited {
      color: #ddd;
      text-decoration: none;
    }
  }

  .link,
  .selected {
    display: flex;
    margin: 1.5rem 0.5rem;
    font-size: 2rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid lawngreen;

    &,
    &:link,
    &:visited {
      color: #ddd;
      text-decoration: none;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title,
  .title:link,
  .title:visited {
    font-size: 2rem;
    padding: 2rem 15rem 2rem 12%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }

  .progress {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    flex-direction: column;

    position: fixed;
    margin: 9% 2rem 0 0;
    top: 0;
    right: 0;

    &-bar {
      width: 50%;
      margin: .7rem -1rem 1rem 0;
    }
    &-text {
      color: #ddd;
      font-size: 2.4rem;
    }
  
    &__hidden {
      display: none;
      visibility: hidden;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    justify-content: center;
    align-items: center;
    padding: 20rem 0 0rem;
  }

  .day-btn {
    background-color: lawngreen;
    color: #000;
    padding: 1rem 2.5rem;
    border-radius: 2px;
    margin-top: 1rem;
    width: 100px;
  }

  footer {
    margin: 15rem 0;
  }

  .main-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: -15rem;
  }

  .main-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15rem 0 3rem;
    font-size: 1.6rem;
  }

  .main-btn {
    background-color: lawngreen;
    color: #000;
    padding: 1rem 2.5rem;
    border-radius: 2px;
    margin-top: 1rem;
    width: 100px;
  }

  .main-btn:hover {
    cursor: pointer;
    background-color: rgb(95, 190, 0);
  }

  .main-btn__hidden {
    display: none;
    visibility: hidden;
  }

  .main-started {
    align-self: center;
    font-size: 1.6rem;
    color: #ddd;
    margin: 3rem 0 0rem;
  }

  .main-current {
    color: #ddd;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 5rem 0 0 0;
    width: 300px;
    text-align: center;
  }

  .main-form--group input {
    width: 70px;
    margin-left: 1rem;
  }

  .main-form--group__plus {
    margin-left: 10px;
  }
}