.messages {
    display: flex;
    justify-content: center;
    width: 100%;
    &-people {
        width: 35%;
        background-color: red;
    }
    &-list {
        width: 40%;
        margin-right: 5rem;
        background-color: blue;
    }
}