nav {
  padding: 2rem 15rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 15%;

  &-img {
    font-size: 8rem;
    color: $black;
    background-color: $green;
    border-radius: 100%;
    height: 5rem;
    width: 5rem !important;
    padding: 1rem;
  }
}

.title {
  text-decoration: none;
  color: #ddd;
  font-size: 3.6rem;
  margin-left: 1.5rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  // flex-direction: column;
}

.title-green {
  color: $green !important;
}
.title-white {
  color: $white !important;
}

.link,
.selected {
  display: none;
  margin: 3rem;
  font-size: 3rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid $green;
}

.link:hover {
  cursor: pointer;
  color: $green;
}

.selected {
  color: $green !important;
}

.selected:hover {
  cursor: default;
}

.nav-link,
.nav-link:link,
.nav-link:active,
.nav-link:visited {
  display: inline;
  // margin: 3rem;
  font-size: 3rem;
  padding: 1rem 2rem 0.7rem;

  text-decoration: none;
  color: #ddd;
  transition: all 0.3s ease-out;
  &:hover {
    color: $green;
    cursor: pointer;
  }
}

.progress {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  flex-direction: row;
  &-bar {
    width: 50%;
    margin-right: 3rem;
    margin-top: 0.7rem;
  }
  &-text {
    color: #ddd;
    font-size: 3rem;
  }

  &__hidden {
    display: none;
    visibility: hidden;
  }
}
