.home-feed-posts-card_notifications {
  & {
    @extend .home-feed-posts-card;
    background-color: #232323;
  }
  &:hover {
    background-color: rgba(200, 200, 200, 0.2);
    cursor: pointer;
  }

  &_read {
    @extend .home-feed-posts-card;
    &:hover {
      background-color: rgba(200, 200, 200, 0.1);
      cursor: pointer;
    }
  }
}

.notifications {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 50vh;
    justify-content: center;

    @include respond(tab-port) {
      width: 100%;
      margin: 3rem 0 3rem 2rem;
    }

    &_none {
        align-self: center;
    }
}