* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #14110F;
  scroll-behavior: smooth; }

body {
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  background-color: #444;
  color: #7cfc00; }

::selection {
  background-color: #444;
  color: #7cfc00; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #000; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7cfc00; }

nav {
  padding: 2rem 15rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.title {
  text-decoration: none;
  color: #ddd;
  font-size: 4rem;
  margin-right: -10rem;
  text-transform: uppercase;
  display: inline; }

.title-green {
  color: #7cfc00 !important;
  letter-spacing: 4.5px; }

.link,
.selected {
  display: none;
  margin: 3rem;
  font-size: 3rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #7cfc00; }

.link:hover {
  cursor: pointer;
  color: #7cfc00; }

.selected {
  color: #7cfc00 !important; }

.selected:hover {
  cursor: default; }

.nav-link,
.nav-link:link,
.nav-link:active,
.nav-link:visited {
  display: inline;
  font-size: 3rem;
  padding: 1rem 2rem 0.7rem;
  text-decoration: none;
  color: #ddd;
  transition: all .3s ease-out; }
  .nav-link:hover,
  .nav-link:link:hover,
  .nav-link:active:hover,
  .nav-link:visited:hover {
    color: #7cfc00;
    cursor: pointer; }

.progress {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  flex-direction: row; }
  .progress-bar {
    width: 50%;
    margin-right: 3rem;
    margin-top: 0.7rem; }
  .progress-text {
    color: #ddd;
    font-size: 3rem; }
  .progress__hidden {
    display: none;
    visibility: hidden; }

.main-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.main-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20rem 30% 10rem;
  font-size: 3rem; }

.main-btn {
  background-color: lawngreen;
  color: #000;
  padding: 1.5rem 2.5rem;
  border-radius: 2px;
  margin-top: 1rem; }
  .main-btn:hover {
    cursor: pointer;
    background-color: #5fbe00; }
  .main-btn__hidden {
    display: none;
    visibility: hidden; }

.main-current {
  color: #ddd;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-left: 10rem;
  margin-right: -10rem;
  width: 500px;
  text-align: center; }
  .main-current__saved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
  .main-current__saved > * {
    margin-bottom: 1rem; }
  .main-current h2 {
    margin-bottom: 2rem; }
  .main-current .day-btn {
    margin-top: 2rem;
    align-self: center; }
  .main-current__hidden {
    display: none;
    visibility: hidden; }

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .main-form--group:not(:last-child) {
    display: flex;
    margin-bottom: 1rem; }
  .main-form--group input {
    width: 100px;
    margin-left: 3rem;
    border: none;
    background-color: #333;
    border-radius: 2px;
    color: #ddd;
    padding: 1rem 0.3rem 1rem 1rem; }
  .main-form .day-btn {
    margin-top: 2rem;
    align-self: center; }

.main-started {
  align-self: center;
  font-size: 3rem;
  color: #ddd;
  margin-bottom: 4rem; }
  .main-started:hover {
    cursor: default; }
  .main-started__hidden {
    display: none;
    visibility: hidden; }

.main-finished {
  align-self: center;
  font-size: 3rem;
  color: #ddd;
  margin-bottom: 4rem; }
  .main-finished:hover {
    cursor: default; }
  .main-finished__hidden {
    display: none;
    visibility: hidden; }

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 99.5vh;
  color: #ddd;
  overflow: hidden; }
  .landing-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    position: absolute;
    right: 10rem;
    margin-top: 10rem; }
    .landing-heading span {
      display: block;
      margin: 2rem 0rem 0rem 0rem; }
    .landing-heading-btn, .form-button, .landing-heading-btn:link, .form-button:link, .landing-heading-btn:visited, .form-button:visited {
      border: none;
      border-radius: 2px;
      padding: 1rem 2rem;
      font-size: 3rem;
      background-color: lawngreen;
      color: black;
      margin-top: 5rem;
      transition: all .3s ease-out;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      min-width: 150px; }
      .landing-heading-btn:hover, .form-button:hover, .landing-heading-btn:link:hover, .form-button:link:hover, .landing-heading-btn:visited:hover, .form-button:visited:hover {
        cursor: pointer;
        background-color: #69d100;
        box-shadow: 0rem 0rem .5rem lawngreen; }
  .landing-image {
    height: 100%;
    width: 75%;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 50% 100%, 0 100%);
    position: absolute; }
    .landing-image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center; }

.home {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.6rem;
  color: #eee;
  margin-top: 10%;
  margin-left: 10%; }
  .home-nav {
    position: fixed;
    left: 10px; }
    .home-nav_sticky {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-end;
      position: sticky;
      top: 200px;
      margin: 10rem 0 0 15rem; }
      .home-nav_sticky_default, .home-nav_sticky_default:link, .home-nav_sticky_default:visited {
        color: #eee;
        text-decoration: none; }
      .home-nav_sticky_default:focus {
        outline: none; }
      .home-nav_sticky_selected, .home-nav_sticky_selected:link, .home-nav_sticky_selected:visited {
        color: #7cfc00;
        text-decoration: none; }
      .home-nav_sticky_selected:focus {
        outline: none; }
      .home-nav_sticky > * {
        transition: all 0.3s ease-out; }
      .home-nav_sticky > *:hover {
        color: #7cfc00;
        cursor: pointer; }
      .home-nav_sticky > *:not(:last-child) {
        margin-bottom: 3rem; }
  .home-feed {
    width: 45%; }
    .home-feed-posts {
      display: flex;
      flex-direction: column; }
      .home-feed-posts-card {
        display: flex;
        background-color: rgba(200, 200, 200, 0.5);
        border-radius: 3px;
        padding: 1rem 2rem;
        min-width: 900px;
        margin: 0rem auto 3rem;
        transition: all .3s ease-out; }
        .home-feed-posts-card, .home-feed-posts-card:link, .home-feed-posts-card:visited {
          color: #eee;
          text-decoration: none; }
        .home-feed-posts-card:hover {
          cursor: pointer;
          background-color: rgba(200, 200, 200, 0.6); }
        .home-feed-posts-card-avatar {
          margin-right: 3rem;
          border-radius: 50%;
          border: none;
          height: 70px;
          min-width: 70px;
          max-width: 70px;
          background-color: #ccc;
          overflow: hidden;
          display: block; }
          .home-feed-posts-card-avatar-img {
            object-fit: cover;
            height: 100%;
            width: 100%; }
        .home-feed-posts-card-content {
          display: flex;
          flex-direction: column;
          padding-right: 6rem; }
          .home-feed-posts-card-content-top {
            display: flex; }
            .home-feed-posts-card-content-top_name {
              padding-right: 1rem; }
          .home-feed-posts-card-content-middle {
            padding: 2rem 0; }
          .home-feed-posts-card-content-bottom {
            display: flex;
            justify-content: start;
            padding-top: 1rem; }
            .home-feed-posts-card-content-bottom > * {
              padding-right: 3rem; }
            .home-feed-posts-card-content-bottom_like {
              transition: all .1s ease-out; }
              .home-feed-posts-card-content-bottom_like:hover {
                color: #d22;
                cursor: pointer; }
              .home-feed-posts-card-content-bottom_like:active {
                animation: like .6s ease-out;
                animation-fill-mode: both; }
            .home-feed-posts-card-content-bottom_liked {
              transition: all .1s ease-out;
              color: #d22; }
              .home-feed-posts-card-content-bottom_liked:hover {
                color: #a22;
                cursor: pointer; }
              .home-feed-posts-card-content-bottom_liked:active {
                animation: unlike .6s ease-out;
                animation-fill-mode: both; }
            .home-feed-posts-card-content-bottom_comment {
              transition: all .1s ease-out; }
              .home-feed-posts-card-content-bottom_comment:hover {
                color: #2774f0;
                cursor: pointer; }
          .home-feed-posts-card-content-post {
            width: 100%;
            height: 120px; }
            .home-feed-posts-card-content-post_form {
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 100%;
              width: 100%; }
              .home-feed-posts-card-content-post_form-input {
                height: 100px;
                width: 90%;
                border: none;
                padding: 0.5rem 1rem;
                background-color: transparent;
                color: #fff;
                resize: none;
                font-size: 2rem;
                transition: all 0.3s ease-out; }
                .home-feed-posts-card-content-post_form-input:required {
                  box-shadow: none; }
                .home-feed-posts-card-content-post_form-input::placeholder {
                  color: #eee; }
                .home-feed-posts-card-content-post_form-input:hover, .home-feed-posts-card-content-post_form-input:focus {
                  cursor: text;
                  background-color: rgba(200, 200, 200, 0.2); }
              .home-feed-posts-card-content-post_form-button {
                border: none;
                padding: 1rem 1.5rem;
                border-radius: 3px;
                text-transform: uppercase;
                background-color: #eee;
                margin: 0 1rem;
                font-size: 2rem;
                transition: all 0.3s ease-out; }
                .home-feed-posts-card-content-post_form-button:hover {
                  background-color: #7cfc00;
                  color: #14110F;
                  cursor: pointer; }
  .home-other-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 38.5rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem; }
    .home-other-search_icon {
      height: 30px;
      width: auto;
      color: #333;
      padding: 0 1rem; }
    .home-other-search_input {
      overflow: hidden;
      border: none;
      background-color: transparent;
      padding: 0.5rem 0.75rem;
      font-size: 2rem;
      width: 80%;
      transition: all 0.3s ease-out; }
      .home-other-search_input:hover {
        background-color: #efefef; }
      .home-other-search_input:focus {
        outline: none;
        background-color: #efefef; }
  .home-other-workouts {
    padding: 1rem 0;
    font-size: 2.4rem; }
    .home-other-workouts_title {
      margin-bottom: 1.5rem;
      font-size: 2.6rem; }
    .home-other-workouts-card {
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      background-color: rgba(200, 200, 200, 0.5);
      color: #ddd;
      margin-bottom: 3rem;
      border-radius: 3px; }
      .home-other-workouts-card > *:not(:last-child) {
        margin-bottom: 0.5rem; }
      .home-other-workouts-card_type {
        display: inline-flex; }
      .home-other-workouts-card_author {
        display: inline-flex;
        padding-left: 0.75rem; }
      .home-other-workouts-card_title {
        color: #eee; }
  .home-other-people_title {
    margin-bottom: 1.5rem;
    font-size: 2.6rem; }
  .home-other-people-card {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.5);
    color: #ddd;
    margin-bottom: 3rem;
    border-radius: 3px; }
    .home-other-people-card-middle {
      margin-left: -6rem;
      margin-bottom: 1rem; }
      .home-other-people-card-middle_username {
        font-size: 2rem; }
    .home-other-people-card-button > * {
      border: none;
      padding: 0.5rem 0.75rem;
      font-size: 2rem;
      border-radius: 2px; }
    .home-other-people-card-button_follow {
      transition: all 0.3s ease-out; }
      .home-other-people-card-button_follow:hover {
        background-color: #1976e0;
        color: #eee;
        cursor: pointer; }
    .home-other-people-card-button_following {
      background-color: #1976e0;
      color: #eee;
      transition: all 0.3s ease-out; }
      .home-other-people-card-button_following:hover {
        background-color: #7cfc00;
        color: #eee;
        cursor: pointer; }

@keyframes like {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.75); }
  100% {
    transform: scale(1); } }

@keyframes unlike {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.75); }
  100% {
    transform: scale(1); } }

.messages-people {
  width: 25%;
  background-color: red; }

.messages-list {
  width: 40%;
  margin-right: 5rem;
  background-color: blue; }

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 5rem;
  margin-top: 10rem; }
  .form-input, .profile-info_edit {
    border: none;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0 3rem;
    width: 80%; }
  .form-label {
    font-size: 3rem; }
  .form-button {
    margin-top: 3rem;
    font-weight: 700; }
  .form-error {
    font-size: 2rem;
    color: red; }
  .form-member {
    vertical-align: middle;
    padding-bottom: 2rem;
    padding-left: 3rem;
    font-size: 2rem;
    display: inline-block;
    width: 220px; }
    .form-member span {
      display: inline-block; }

.form-button_loading {
  color: #ffffff;
  font-size: 20px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 7px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.profile {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 3rem; }
  .profile-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5rem; }
    .profile-top-left {
      display: flex;
      align-items: center; }
      .profile-top-left-avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden; }
        .profile-top-left-avatar_image {
          object-fit: cover;
          height: 100%;
          width: 100%;
          z-index: -20; }
        .profile-top-left-avatar_change {
          background-color: rgba(34, 34, 34, 0.8);
          color: #fff;
          font-weight: 700;
          font-size: 1.2rem;
          text-transform: uppercase;
          padding: 2rem auto;
          transform: translateY(-6rem);
          transition: all 0.2s ease-in-out;
          z-index: 100; }
          .profile-top-left-avatar_change-form {
            padding: 1rem 2.5rem 3rem; }
            .profile-top-left-avatar_change-form--input {
              display: none; }
              .profile-top-left-avatar_change-form--input:hover {
                cursor: pointer; }
            .profile-top-left-avatar_change-form--label:hover {
              cursor: pointer; }
      .profile-top-left-username {
        padding: 0 3rem; }
    .profile-top-right-edit {
      border: none;
      font-size: 2rem;
      color: #111;
      padding: 0.5rem 0.75rem;
      transition: all 0.3s ease-out; }
      .profile-top-right-edit:hover {
        background-color: #7cfc00;
        cursor: pointer; }
  .profile-info {
    display: flex;
    flex-direction: column; }
    .profile-info_edit {
      background-color: #333;
      color: #eee;
      font-size: 2rem !important;
      width: 70%; }
    .profile-info-bio {
      padding-bottom: 5rem; }
    .profile-info-other {
      display: flex;
      font-size: 2rem; }
      .profile-info-other_edit {
        display: flex;
        font-size: 2rem;
        flex-direction: column; }
      .profile-info-other-website {
        padding-left: 3rem; }
        .profile-info-other-website-link {
          color: dodgerblue; }
      .profile-info-other-joined {
        padding-left: 3rem; }
  .profile-content {
    margin-top: 10rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 3rem 5rem;
  justify-content: center;
  padding: 5rem; }

.day {
  background-color: #010101;
  color: #ddd;
  width: 300px;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  padding: 3rem 0;
  position: relative; }
  .day:hover {
    cursor: default; }
  .day-checked {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: lawngreen; }
  .day-unchecked {
    display: none;
    visibility: hidden; }
  .day-btn {
    background-color: lawngreen;
    color: #000;
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
    margin-top: 1rem; }
    .day-btn__hidden {
      display: none; }
    .day-btn:hover {
      background-color: #5fbe00;
      cursor: pointer; }
  .day > *:not(:last-child) {
    margin-bottom: 1rem; }

footer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ccc;
  margin-bottom: 5rem;
  font-size: 1.6rem; }
  footer > *:not(:last-child) {
    margin-right: 1rem; }
  footer a {
    color: lawngreen; }

@media only screen and (max-width: 600px) {
  nav {
    padding: 0;
    background-color: black;
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%; }
  nav ul {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    list-style: none;
    justify-content: space-evenly;
    align-items: center; }
    nav ul a,
    nav ul a:link,
    nav ul a:visited {
      color: #ddd;
      text-decoration: none; }
  .link,
  .selected {
    display: flex;
    margin: 1.5rem 0.5rem;
    font-size: 2rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid lawngreen; }
    .link, .link:link, .link:visited,
    .selected,
    .selected:link,
    .selected:visited {
      color: #ddd;
      text-decoration: none; }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .title,
  .title:link,
  .title:visited {
    font-size: 2rem;
    padding: 2rem 15rem 2rem 12%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column; }
  .progress {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    flex-direction: column;
    position: fixed;
    margin: 9% 2rem 0 0;
    top: 0;
    right: 0; }
    .progress-bar {
      width: 50%;
      margin: .7rem -1rem 1rem 0; }
    .progress-text {
      color: #ddd;
      font-size: 2.4rem; }
    .progress__hidden {
      display: none;
      visibility: hidden; }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    justify-content: center;
    align-items: center;
    padding: 20rem 0 0rem; }
  .day-btn {
    background-color: lawngreen;
    color: #000;
    padding: 1rem 2.5rem;
    border-radius: 2px;
    margin-top: 1rem;
    width: 100px; }
  footer {
    margin: 15rem 0; }
  .main-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: -15rem; }
  .main-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15rem 0 3rem;
    font-size: 1.6rem; }
  .main-btn {
    background-color: lawngreen;
    color: #000;
    padding: 1rem 2.5rem;
    border-radius: 2px;
    margin-top: 1rem;
    width: 100px; }
  .main-btn:hover {
    cursor: pointer;
    background-color: #5fbe00; }
  .main-btn__hidden {
    display: none;
    visibility: hidden; }
  .main-started {
    align-self: center;
    font-size: 1.6rem;
    color: #ddd;
    margin: 3rem 0 0rem; }
  .main-current {
    color: #ddd;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 5rem 0 0 0;
    width: 300px;
    text-align: center; }
  .main-form--group input {
    width: 70px;
    margin-left: 1rem; }
  .main-form--group__plus {
    margin-left: 10px; } }
